body{
    background-color: cyan;
}

.search{
    margin: 20px 20px;
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
}

.card{
    /* width: 30%; */
    /* text-align: center; */
    border: 2px solid black;
}


img{
    height: 160px;
    width: 150px;
}